.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
    -webkit-backface-visibility:hidden; /* Remove if you got display issues */
    box-shadow: 0 1px 14px 3px #555;
    text-align: center;
}
.curtains>li:first-child{
    z-index:2;
}



/*------------------------------------*\
    $CURTAINS
\*------------------------------------*/
.curtains>li:nth-child(1) {
    background-color: #f66666;
}
.curtains>li:nth-child(2) {
    background-color: #ffdc5e;
}
.curtains>li:nth-child(3) {
    background-color: #75e180;
}
.curtains>li:nth-child(4) {
    background-color: #54c6ff;
}
.curtains>li:nth-child(5) {
    background-color: #555;
}
.curtains>li:nth-child(6) {
    background-color: #eee;
    color: #555;
}


/*------------------------------------*\
    $MENU
\*------------------------------------*/
.menu {
    position: fixed;
    bottom:1%;
    z-index: 2;
}

ul.menu {
    list-style: none inside;

}

.menu button {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #555;
    position: relative;
    text-align: center;
    color: hsla(0, 0%, 93%, 1.0);
    text-decoration: none;
    border:0;
    cursor:pointer;
}