@charset "UTF-8";
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
	RESET
	SHARED
	TYPO
	MAIN
	 INTRO
	 BASES
	 HISTORIA
	 FOTOS
	 CONTACTO
	IMAGES
	BRAND
	COLOR_SCHEME
*/



/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart... 
As per: csswizardry.com/2011/10/reset-restarted
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}

strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
a,ins{
	text-decoration:none;
}
img{
	border:none;
	font-style:italic;
}
input,
select,option,optgroup,
textarea{
	font:inherit;
}



/*------------------------------------*\
	$SHARED
\*------------------------------------*/

html {
	height: 100%;
	overflow-x: hidden;
	font: 100% Cambria, Georgia, "Times New Roman", Times, serif;
	color: #eeeeee;
}

a {
	color: #eee;
	text-decoration: underline;
}

ul {
	list-style-position: inside;
}

label,
.text-input,
textarea,
.btn {
	cursor:pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
	cursor:text;
}

.content {
	max-width: 56.25em;  /* = 900px */
	padding:0 1.875em;    /*  = 30px */ 
	margin: 0 auto;
	word-wrap: break-word;
}

/*------------------------------------*\
	$TYPO
\*------------------------------------*/

h1,h2,h3 {
	font-family: "Helvetica-neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 1.5em; /* 24px / 16px */
	line-height: 1;
	margin-bottom: 1em;
	text-align: center;
}

h2 {
	font-size: 1.25em; /* 20px / 16px */
	line-height: 1.2; /* 24px / 20px */
	margin-bottom: 1.2em; 
}

h3 {
	font-size:1.125em; /* 18px / 16px */
	line-height: 1.333;
	margin-bottom: 1em;
}

p {
	font-size: 1em; /* 16px *//
	line-height: 1.5;
	margin-bottom: 1.5em; /* 16px * 1.5em = 24px */
}

.giga { 
	font-size: 3em; /* 48px / 16px */
	line-height: 1;
	margin: 0.5em 0;
}


/*------------------------------------*\
	$MAIN
\*------------------------------------*/

	/***** $INTRO *****/

.intro {
	background: transparent url('../images/css/bg_intro.png') no-repeat center center;
	position: relative;
	top: 15%;
	line-height: 28.125em;
	padding-top: 2em;
}

	/***** $GRUPOS *****/

.box {
	display: inline-block;
	width: 12.5em;
	height: 12.5em;
	line-height: 12.5em;
	margin: 1.5625em;
	background-color: rgba(238, 238, 238, 0.2);
	border: 0.5em solid rgba(238,238,238,0.5);
}

.box a {
	display: block;
	font-size: 3em;
	color: #eeeeee;
	text-decoration: none;
}

.box a:hover {
	background-color: rgba(238,238,238, 0.5);
}

	/***** $BASES *****/

.text-wrap {
	width: 33em;
	max-width: 35em;
	min-width: 25em;
	text-align: left;
	list-style-position: inside;
	padding: 0 20em 5em 20em;
}

.text-wrap > ol > li {
	padding-bottom: 1em;
}

.text-wrap ul {
	margin-left: 1em;	
}

	/***** $FOTOS *****/

#galleria {
	width: 900px;
	height: 650px;
}

	/***** $CONTACTO *****/

iframe {
	float: left;
}

#contacto {
	float: right;
	text-align: left;
	margin-left: 1em;
}

/*------------------------------------*\
	$IMAGES
\*------------------------------------*/

img {
	max-width:100%;
	
}

.intro > a > img {
	text-align: center;
	vertical-align: top;
} 

img[alt="UMHfest"] {	
	vertical-align: middle;
	margin: 150px;
}



/*------------------------------------*\
	$BRAND
\*------------------------------------*/

.brand-grupos {
	text-shadow: 2px 2px 0px #ffdc5e,
				 3px 3px 0px #eeeeee;
	
}

.brand-bases {
	text-shadow: 2px 2px 0px #75e180,
				 3px 3px 0px #eeeeee;
	
}

.brand-historia {
	text-shadow: 2px 2px 0px #54c6ff,
				 3px 3px 0px #eeeeee;
	}

.brand-fotos {
	text-shadow: 2px 2px 0px #555555,
				 3px 3px 0px #eeeeee;
}

.brand-contacto {
	text-shadow: 2px 2px 0px #eeeeee,
				 3px 3px 0px #555555;	
	}

/*------------------------------------*\
	$COLOR_SCHEME

	red: 	#f66666;
	yellow: #ffdc5e;
	green:  #75e180;
	blue: 	#54c6ff;
	black: 	#555555;
  	white: 	#eeeeee;

\*------------------------------------*/
